USE [SGP]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actividad](
	[idActividad] [int] NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK23] PRIMARY KEY NONCLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anuncio]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anuncio](
	[idAuncio] [int] NOT NULL,
	[idCapilla] [int] NULL,
	[Titulo] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK17] PRIMARY KEY NONCLUSTERED 
(
	[idAuncio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Capilla]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capilla](
	[idCapilla] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[idParr] [int] NULL,
	[Direccion] [varchar](200) NULL,
	[idLaico] [int] NULL,
 CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[idCapilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEB]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEB](
	[idCEB] [int] NOT NULL,
	[Fondos] [money] NULL,
	[Nombre] [varchar](150) NOT NULL,
	[idCapilla] [int] NULL,
	[idLaico] [int] NULL,
 CONSTRAINT [PK15] PRIMARY KEY NONCLUSTERED 
(
	[idCEB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificadoFormacion]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificadoFormacion](
	[idCertificado] [int] NOT NULL,
	[idCapilla] [int] NULL,
	[idSacerdote] [int] NULL,
	[idGrupoCT] [int] NULL,
 CONSTRAINT [PK18] PRIMARY KEY NONCLUSTERED 
(
	[idCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FondoParroquial]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FondoParroquial](
	[idFondo] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
	[Descripcion] [varchar](400) NOT NULL,
	[idParr] [int] NULL,
 CONSTRAINT [PK31] PRIMARY KEY NONCLUSTERED 
(
	[idFondo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupoCT]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupoCT](
	[idGrupoCT] [int] NOT NULL,
	[Nombre] [varchar](200) NULL,
	[Nivel] [char](10) NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
 CONSTRAINT [PK25] PRIMARY KEY NONCLUSTERED 
(
	[idGrupoCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[idInscripciones] [int] NOT NULL,
	[idGrupoCT] [int] NULL,
	[idLaico] [int] NULL,
	[AbonoMateriales] [bit] NOT NULL,
 CONSTRAINT [PK27] PRIMARY KEY NONCLUSTERED 
(
	[idInscripciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laico]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laico](
	[idLaico] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Apellidos] [varchar](150) NULL,
	[Telefono] [varchar](150) NULL,
	[idCapilla] [int] NULL,
 CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[idLaico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaicoFormacion]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaicoFormacion](
	[idLaicoFormacion] [int] NOT NULL,
	[idLaico] [int] NULL,
	[idCertificado] [int] NULL,
 CONSTRAINT [PK19] PRIMARY KEY NONCLUSTERED 
(
	[idLaicoFormacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaicoRol]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaicoRol](
	[idLaicoRol] [int] NOT NULL,
	[idLaico] [int] NULL,
	[idRol] [int] NULL,
 CONSTRAINT [PK12] PRIMARY KEY NONCLUSTERED 
(
	[idLaicoRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiembroCEB]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiembroCEB](
	[idMiembroCEB] [int] NOT NULL,
	[idLaico] [int] NULL,
	[idCEB] [int] NULL,
	[Activo] [varchar](30) NULL,
 CONSTRAINT [PK16] PRIMARY KEY NONCLUSTERED 
(
	[idMiembroCEB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Misa]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Misa](
	[IdMisa] [int] NOT NULL,
	[idCapilla] [int] NULL,
	[idSacerdote] [int] NULL,
	[idLaico] [int] NULL,
	[Recaudacion] [money] NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[IdMisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoCapilla]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoCapilla](
	[idMovimientoCapilla] [int] NOT NULL,
	[idCapilla] [int] NULL,
	[idActividad] [int] NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](600) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK22_1] PRIMARY KEY NONCLUSTERED 
(
	[idMovimientoCapilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoCEB]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoCEB](
	[idMovimientoCEB] [int] NOT NULL,
	[idCEB] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](600) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK22] PRIMARY KEY NONCLUSTERED 
(
	[idMovimientoCEB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoParroquial]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoParroquial](
	[idMovimientoP] [int] NOT NULL,
	[idFondo] [int] NULL,
	[Fecha] [datetime] NULL,
	[Tipo] [varchar](20) NULL,
	[Descripcion] [varchar](300) NULL,
	[Monto] [decimal](10, 2) NULL,
 CONSTRAINT [PK30] PRIMARY KEY NONCLUSTERED 
(
	[idMovimientoP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parroquia]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parroquia](
	[idParr] [int] NOT NULL,
	[Zona] [varchar](200) NULL,
	[Nombre] [varchar](200) NOT NULL,
 CONSTRAINT [PK20] PRIMARY KEY NONCLUSTERED 
(
	[idParr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Drescripcion] [varchar](300) NULL,
 CONSTRAINT [PK10] PRIMARY KEY NONCLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesAdmin]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesAdmin](
	[idRolUsuario] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK33] PRIMARY KEY NONCLUSTERED 
(
	[idRolUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sacerdote]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sacerdote](
	[idSacerdote] [int] NOT NULL,
	[Nombres] [varchar](150) NOT NULL,
	[Apellidos] [varchar](150) NULL,
	[Apodo] [varchar](150) NULL,
 CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[idSacerdote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudAyuda]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAyuda](
	[idSolicitudAyuda] [int] NOT NULL,
	[idParr] [int] NULL,
	[idLaico] [int] NULL,
	[MontoSolicitado] [decimal](10, 2) NOT NULL,
	[Motivo] [varchar](600) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
 CONSTRAINT [PK26_1] PRIMARY KEY NONCLUSTERED 
(
	[idSolicitudAyuda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudSacramental]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudSacramental](
	[idSolicitud] [int] NOT NULL,
	[idLaico] [int] NULL,
	[Sacramento] [varchar](100) NOT NULL,
	[FechaSolicitada] [datetime] NULL,
	[FechaFinal] [datetime] NOT NULL,
	[Estado] [varchar](30) NOT NULL,
 CONSTRAINT [PK26] PRIMARY KEY NONCLUSTERED 
(
	[idSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] NOT NULL,
	[Mail] [varchar](15) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
 CONSTRAINT [PK14] PRIMARY KEY NONCLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRolesAdmin]    Script Date: 22/12/2025 0:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRolesAdmin](
	[idUsuarioRolesAdmin] [int] NOT NULL,
	[idRolUsuario] [int] NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK34] PRIMARY KEY NONCLUSTERED 
(
	[idUsuarioRolesAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD  CONSTRAINT [RefCapilla30] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[Anuncio] CHECK CONSTRAINT [RefCapilla30]
GO
ALTER TABLE [dbo].[Capilla]  WITH CHECK ADD  CONSTRAINT [RefLaico14] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[Capilla] CHECK CONSTRAINT [RefLaico14]
GO
ALTER TABLE [dbo].[Capilla]  WITH CHECK ADD  CONSTRAINT [RefParroquia39] FOREIGN KEY([idParr])
REFERENCES [dbo].[Parroquia] ([idParr])
GO
ALTER TABLE [dbo].[Capilla] CHECK CONSTRAINT [RefParroquia39]
GO
ALTER TABLE [dbo].[CEB]  WITH CHECK ADD  CONSTRAINT [RefCapilla40] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[CEB] CHECK CONSTRAINT [RefCapilla40]
GO
ALTER TABLE [dbo].[CEB]  WITH CHECK ADD  CONSTRAINT [RefLaico41] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[CEB] CHECK CONSTRAINT [RefLaico41]
GO
ALTER TABLE [dbo].[CertificadoFormacion]  WITH CHECK ADD  CONSTRAINT [RefCapilla31] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[CertificadoFormacion] CHECK CONSTRAINT [RefCapilla31]
GO
ALTER TABLE [dbo].[CertificadoFormacion]  WITH CHECK ADD  CONSTRAINT [RefGrupoCT48] FOREIGN KEY([idGrupoCT])
REFERENCES [dbo].[GrupoCT] ([idGrupoCT])
GO
ALTER TABLE [dbo].[CertificadoFormacion] CHECK CONSTRAINT [RefGrupoCT48]
GO
ALTER TABLE [dbo].[CertificadoFormacion]  WITH CHECK ADD  CONSTRAINT [RefSacerdote33] FOREIGN KEY([idSacerdote])
REFERENCES [dbo].[Sacerdote] ([idSacerdote])
GO
ALTER TABLE [dbo].[CertificadoFormacion] CHECK CONSTRAINT [RefSacerdote33]
GO
ALTER TABLE [dbo].[FondoParroquial]  WITH CHECK ADD  CONSTRAINT [RefParroquia60] FOREIGN KEY([idParr])
REFERENCES [dbo].[Parroquia] ([idParr])
GO
ALTER TABLE [dbo].[FondoParroquial] CHECK CONSTRAINT [RefParroquia60]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [RefGrupoCT56] FOREIGN KEY([idGrupoCT])
REFERENCES [dbo].[GrupoCT] ([idGrupoCT])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [RefGrupoCT56]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [RefLaico58] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [RefLaico58]
GO
ALTER TABLE [dbo].[Laico]  WITH CHECK ADD  CONSTRAINT [RefCapilla13] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[Laico] CHECK CONSTRAINT [RefCapilla13]
GO
ALTER TABLE [dbo].[LaicoFormacion]  WITH CHECK ADD  CONSTRAINT [RefCertificadoFormacion37] FOREIGN KEY([idCertificado])
REFERENCES [dbo].[CertificadoFormacion] ([idCertificado])
GO
ALTER TABLE [dbo].[LaicoFormacion] CHECK CONSTRAINT [RefCertificadoFormacion37]
GO
ALTER TABLE [dbo].[LaicoFormacion]  WITH CHECK ADD  CONSTRAINT [RefLaico36] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[LaicoFormacion] CHECK CONSTRAINT [RefLaico36]
GO
ALTER TABLE [dbo].[LaicoRol]  WITH CHECK ADD  CONSTRAINT [RefLaico24] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[LaicoRol] CHECK CONSTRAINT [RefLaico24]
GO
ALTER TABLE [dbo].[LaicoRol]  WITH CHECK ADD  CONSTRAINT [RefRol23] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[LaicoRol] CHECK CONSTRAINT [RefRol23]
GO
ALTER TABLE [dbo].[MiembroCEB]  WITH CHECK ADD  CONSTRAINT [RefCEB29] FOREIGN KEY([idCEB])
REFERENCES [dbo].[CEB] ([idCEB])
GO
ALTER TABLE [dbo].[MiembroCEB] CHECK CONSTRAINT [RefCEB29]
GO
ALTER TABLE [dbo].[MiembroCEB]  WITH CHECK ADD  CONSTRAINT [RefLaico28] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[MiembroCEB] CHECK CONSTRAINT [RefLaico28]
GO
ALTER TABLE [dbo].[Misa]  WITH CHECK ADD  CONSTRAINT [RefCapilla10] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[Misa] CHECK CONSTRAINT [RefCapilla10]
GO
ALTER TABLE [dbo].[Misa]  WITH CHECK ADD  CONSTRAINT [RefLaico25] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[Misa] CHECK CONSTRAINT [RefLaico25]
GO
ALTER TABLE [dbo].[Misa]  WITH CHECK ADD  CONSTRAINT [RefSacerdote11] FOREIGN KEY([idSacerdote])
REFERENCES [dbo].[Sacerdote] ([idSacerdote])
GO
ALTER TABLE [dbo].[Misa] CHECK CONSTRAINT [RefSacerdote11]
GO
ALTER TABLE [dbo].[MovimientoCapilla]  WITH CHECK ADD  CONSTRAINT [RefActividad44] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[MovimientoCapilla] CHECK CONSTRAINT [RefActividad44]
GO
ALTER TABLE [dbo].[MovimientoCapilla]  WITH CHECK ADD  CONSTRAINT [RefCapilla43] FOREIGN KEY([idCapilla])
REFERENCES [dbo].[Capilla] ([idCapilla])
GO
ALTER TABLE [dbo].[MovimientoCapilla] CHECK CONSTRAINT [RefCapilla43]
GO
ALTER TABLE [dbo].[MovimientoCEB]  WITH CHECK ADD  CONSTRAINT [RefCEB42] FOREIGN KEY([idCEB])
REFERENCES [dbo].[CEB] ([idCEB])
GO
ALTER TABLE [dbo].[MovimientoCEB] CHECK CONSTRAINT [RefCEB42]
GO
ALTER TABLE [dbo].[MovimientoParroquial]  WITH CHECK ADD  CONSTRAINT [RefFondoParroquial63] FOREIGN KEY([idFondo])
REFERENCES [dbo].[FondoParroquial] ([idFondo])
GO
ALTER TABLE [dbo].[MovimientoParroquial] CHECK CONSTRAINT [RefFondoParroquial63]
GO
ALTER TABLE [dbo].[SolicitudAyuda]  WITH CHECK ADD  CONSTRAINT [RefLaico59] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[SolicitudAyuda] CHECK CONSTRAINT [RefLaico59]
GO
ALTER TABLE [dbo].[SolicitudAyuda]  WITH CHECK ADD  CONSTRAINT [RefParroquia62] FOREIGN KEY([idParr])
REFERENCES [dbo].[Parroquia] ([idParr])
GO
ALTER TABLE [dbo].[SolicitudAyuda] CHECK CONSTRAINT [RefParroquia62]
GO
ALTER TABLE [dbo].[SolicitudSacramental]  WITH CHECK ADD  CONSTRAINT [RefLaico49] FOREIGN KEY([idLaico])
REFERENCES [dbo].[Laico] ([idLaico])
GO
ALTER TABLE [dbo].[SolicitudSacramental] CHECK CONSTRAINT [RefLaico49]
GO
ALTER TABLE [dbo].[UsuarioRolesAdmin]  WITH CHECK ADD  CONSTRAINT [RefRolesAdmin66] FOREIGN KEY([idRolUsuario])
REFERENCES [dbo].[RolesAdmin] ([idRolUsuario])
GO
ALTER TABLE [dbo].[UsuarioRolesAdmin] CHECK CONSTRAINT [RefRolesAdmin66]
GO
ALTER TABLE [dbo].[UsuarioRolesAdmin]  WITH CHECK ADD  CONSTRAINT [RefUsuario68] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[UsuarioRolesAdmin] CHECK CONSTRAINT [RefUsuario68]
GO
